.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.th {
  border-bottom: 2px solid #ddd;
  text-align: left;
  padding: 8px;
  /* background: #f4f4f4; */
}

.td {
  border-bottom: 1px solid #eee;
  padding: 8px;
  vertical-align: top;
}

.authCell {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
